.restaurnt-menu{
    margin-top: 32px;
}

.restaurant-fetch{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 32px;
}

.restaurant-details{
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 4px 16px 4px 16px;
    list-style: none;
    font-size: 16px;
    width: 336px;
}

.restaurant-details > img{
    height: 176px;
    width: 336px;
    border-radius: 16px;
}

.name-service{
    display: flex;
    flex-direction: row;
    margin-top: 16px;
    margin-bottom: 12px;
}

.restaurant-description{
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: black;
    height: 95px;
}

.restaurant-name{
    font-size: 16px;
    font-weight: 700;
    color: #182135;
    width: 200px
}

.restaurant-service{
    height: 24px;
    width: 73px;
    border-radius: 4px;
    margin-left: 60px;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.open{
    background-color: rgba(80,62,157,0.1);
    color: #503E9D;
}

.close{
    color: #FB6D3A;
    background-color: rgba(251, 109, 58, 0.1);

}